@import url("https://fonts.googleapis.com/css2?family=Sansita:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap");
@font-face {
  font-family: "Alegreya Sans Italic";
  src: url("../fonts/Alegreya Sans/AlegreyaSans-MediumItalic.ttf");
}
/*** ELEMENTS ***/
body {
  height: 100vh;
  background-color: #222;
  box-sizing: border-box;
  color: #eee;
  display: flex;
  flex-direction: column;
  font-family: "Overpass", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Sansita", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0;
}

h2,
h3 {
  color: #444;
}

h4 {
  margin: 0 0 5px;
}

img.reversed {
  transform: rotate(180deg);
}
img.drawn {
  max-width: 130px;
  min-width: 70px;
  width: 30%;
}
img.small {
  width: 70px;
}
img.x-small {
  width: 40px;
}

header {
  max-height: 100vh;
  overflow: auto;
}
header .nav-dot {
  opacity: 0.6;
  padding: 1.5px;
}
header .nav-dot:hover {
  cursor: pointer;
}
header .nav-dot.current-nav-dot {
  opacity: 1;
}

main {
  max-width: 1000px;
  width: 100%;
  display: flex;
  gap: 0 10px;
  margin: auto;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
main section {
  height: 100%;
  min-width: 100%;
  background-color: #eee;
  border-radius: 15px;
  box-sizing: border-box;
  color: #222;
  overflow: auto;
  padding: 15px;
  scroll-snap-align: center;
}
main section h2 {
  margin-top: 8px;
}
main section .stats-section {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-top: 25px;
}
main section .stats-section .subsection {
  max-width: 700px;
  background-color: #ccc;
  border-radius: 10px;
  flex: 1;
  font-size: 0.9rem;
  padding: 15px 10px;
}
main section .stats-section .subsection .subsection-header {
  font-size: 1.3rem;
  margin: 0 0 15px;
}

table {
  width: 100%;
}
table th,
table td {
  text-align: center;
}

ul {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding-left: 15px;
  text-align: left;
}
ul#major-definitions {
  margin-top: 10px;
}
ul#major-definitions li {
  padding: 0 0 5px;
}
ul li p {
  margin: 8px 0;
}
ul li .small-cards {
  display: flex;
  font-family: "Alegreya Sans Italic";
  font-size: 0.95rem;
  gap: 4px;
  justify-content: center;
}
ul li .small-cards div {
  background-color: #bbb;
  border-radius: 3px;
  padding: 3px;
}

/*** CLASSES ***/
.key {
  color: #666;
}

.more-text {
  padding: 0;
}
.more-text li {
  display: inline-block;
}
.more-text li .small-cards {
  float: left;
  margin: 0 10px 5px 0;
}

.opposites .opposites-tables-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.opposites .opposites-tables-container table {
  width: 100%;
  border-spacing: 0;
}
.opposites .opposites-tables-container table th {
  width: 50%;
  background-color: #eee;
  border-radius: 5px 0 0 5px;
}
.opposites .opposites-tables-container table td {
  background-color: #aaa;
  border: 1.5px solid #999;
  border-radius: 0 5px 5px 0;
}

.tiled {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
}
.tiled.full-width li {
  min-width: 100%;
}
.tiled.full-width li table tr {
  display: flex;
}
.tiled.full-width li table tr th,
.tiled.full-width li table tr td {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tiled.full-width li table tr th {
  flex: 1;
}
.tiled:not(.full-width) li {
  display: flex;
  flex-direction: column;
}
.tiled:not(.full-width) li .small-cards {
  flex: 1;
}
.tiled li {
  background-color: #eee;
  border-radius: 5px;
  flex: 0;
  padding: 5px;
  text-align: center;
}

/*** RESPONSIVE ***/
@media only screen and (max-width: 700px) {
  .stats-section {
    display: block !important;
  }
  .stats-section .subsection {
    margin: 15px 0;
  }
  .stats-section .subsection:last-child {
    margin-bottom: 0;
  }
}
/*** TOOLTIPS ***/
.tooltip {
  border-bottom: 1px dotted black;
  font-family: "Overpass", Arial, Helvetica, sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
  position: relative;
}
.tooltip .tooltip-icon:hover,
.tooltip button.close-tooltip:hover {
  cursor: pointer;
}
.tooltip .tooltiptext {
  width: 130px;
  background-color: #333;
  border-radius: 6px;
  color: #fff;
  padding: 5px 0;
  text-align: center;
  visibility: hidden;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}/*# sourceMappingURL=style.css.map */